<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/proyecto?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <mapping resource="aplicacion/hibernate/mapeo/Clientes.hbm.xml"/>
    <mapping resource="aplicacion/hibernate/mapeo/Categorias.hbm.xml"/>
    <mapping resource="aplicacion/hibernate/mapeo/Usuarios.hbm.xml"/>
    <mapping resource="aplicacion/hibernate/mapeo/Factura.hbm.xml"/>
    <mapping resource="aplicacion/hibernate/mapeo/Modopago.hbm.xml"/>
    <mapping resource="aplicacion/hibernate/mapeo/Productos.hbm.xml"/>
    <mapping resource="aplicacion/hibernate/mapeo/Detalle.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
